@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --color-orange:rgba(254, 163, 1, 1);
    --color-black:rgba(17, 17, 17, 1);
    --color-blue:rgba(1, 172, 253, 1);
    --color-white:rgba(247, 247, 247, 1);

    --color-grey:rgba(73, 85, 96, 1);
    --color-lightorange:rgba(254, 163, 1, 1);
    --color-purewhite:rgba(255, 255, 255, 1);
    --color-pureblack:rgba(0, 0, 0, 1);
    --color-cyan:rgba(5, 212, 223, 1);
    --color-purple:rgba(93, 88, 239, 1);
    --color-bluegrey:rgba(104, 162, 223, 1);

    --color-btn-cyan:rgba(60, 216, 232, 1);
    --color-btn-purple:rgba(93, 88, 240, 1);
    --color-btn-green:rgba(149, 178, 38, 1);

    --text-orange:rgba(240, 170, 0, 1);
    --text-blue:rgba(100, 200, 255, 1);
    --text-purple:rgba(135, 0, 255, 1); 

}

html { font-size: 16px; }
h1 { font-size: 3.815rem; }
h2 { font-size: 3.052rem; }
h3 { font-size: 2.441rem; }
h4 { font-size: 1.953rem; }
h5 { font-size: 1.563rem; }
h6 { font-size: 1.25rem; }
p { font-size: 1rem; }
small { font-size: 0.8rem; }
small span { font-size: 0.64rem; }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

/* shareable css */

body{
    background-color: var(--color-white);
    color: var(--color-black);
}

body .container{
    max-width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

button{
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 12px;
    color: var(--color-purewhite);
    background-color: var(--color-orange);
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 30px;
    width: 197px;
}

button:hover{
    outline: 2px solid var(--color-orange);
    background-color: var(--color-white);
    color: var(--color-orange);
    transition: all 0.3s ease;
}


/* header css */

header{
    padding-top: 20px;
}



/* navbar */


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.navbar .logo img{
    width: 62px;
    flex-shrink: 0;
}

.navbar>ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.25rem;
}

.nav-links a{
    font-weight: 500;
}

.orange{
    color: var(--color-orange);
}

.blue{
    color: var(--color-blue);
}

.nav-item.cyan{
    color: var(--color-cyan);
}

.nav-item.purple{
    color: var(--color-purple);
}

.nav-links a:hover{
    font-weight: 500;
    color: var(--color-grey);
}


.menu-icon{
    display: none;
}

/* hero */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;
    gap: 50px 50px;
    max-width: 100%;
}

.hero .hero-text{
    max-width: 60%;
}

.hero .hero-text h1{
    line-height: 61px;
}

.hero-text>*{
    margin-bottom: 24px;
}

.hero-text h6{
    font-weight: 400;
}

.btn-black{
    background-color: var(--color-black);
    color: var(--color-purewhite);
}

.btn-black:hover{
    outline: 2px solid var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
}

.hero .hero-img{
    max-width: 40%;
}

.hero .hero-img img{
    width: 100%;
}

/* main */

/* curriculum */
.curriculum{
    background-image: url(assets/bg.png);
    border-image-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.curriculum .container
{   
    text-align: center;
    padding-top: 1px;
}

h2{
    margin: 60px 0;
}

.curriculum .wrapper{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.card{
    border-radius: 19px;
    padding: 53px 40px;
    display: grid;
    gap: 32px;
    justify-items: center;
}

.card p{
    line-height: 28px; 
}

.card a{
    font-weight: 800;
}

.kinder{
    background: linear-gradient(180deg, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    border: 2px solid rgba(222, 245, 255, 1) ;
}

.elementary{
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    border: 0.943px solid #FFF4DC;
}

.middle{
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    border: 0.943px solid #F2E8FF;
}


.text-blue{
    color:var(--text-blue);
}

.text-orange{
    color:var(--text-orange);
}

.text-purple{
    color:var(--text-purple);
}

.move-icon{
    margin-bottom: 60px;
}
.move-icon img{
    margin: 0 5px;
}


/* stories */

.stories{
    background: url(assets/bg.png),linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%);
    border-image-repeat: no-repeat;
}

.stories .container{
    padding-top: 1px;
    text-align: center;
}

.grid-wrapper{
    margin: 80px 0;
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 19px;
}

.grid-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
    background-color: var(--color-purewhite);
    /* position: relative; */
    overflow: hidden;
    text-align: left;
    padding-bottom: 17px;
}

.image-container{
    position: relative;
}

.grid-card img{
    width: 100%;
    object-fit: cover;
}

.story-1{
    grid-row: span 2;
}

.grid-card>h5{
    font-size: 1rem;
    font-weight: 700;
    line-height: 28.761px;
    padding: 5% 10%;
    color: var(--color-pureblack);
}

.grid-card:first-child>h5{
    font-size: 1.563rem;
}

.grid-card>p{
    font-size: .9rem;
    line-height: 24px;
    padding: 0 10%;
    font-weight: 500;
    line-height: 28.761px;
    color: var(--color-grey);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;    
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;       /* Show only 2 lines, then truncate */
    line-clamp: 3; 
}



.date{
    display: block;
    padding: 10px 20px ;
     font-size: 1rem;
     font-weight: 500;
     line-height: 28.761px;
     color: var(--color-purewhite);
     border-radius: 47.934px;
     position: absolute;
     bottom: -15px;
     left: 10%;  
}



.bg-green{
    background-color: var(--color-btn-green);
}

.bg-cyan{
    background-color: var(--color-btn-cyan);
}

.bg-purple{
    background-color: var(--color-btn-purple);
}

.stories button{
    margin-bottom:60px;
}


/* footer */

footer{
    background: var(--color-blue);
    padding: 10% 10% 15% 10%;
    color: var(--color-purewhite);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    /* gap: 100px; */
}

.footer-container>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-foot{
    max-width: 40%;
}

.left-foot>p{
    font-size: 1.25rem;
    font-weight: 400;
}

.left-foot>div>h2{
    margin: 0px;
    display: inline-block;
}

.left-foot>div>img{
    width: 100px;
}

.mid-foot{
    max-width: 30%;
}

.mid-foot>a{
    color: var(--color-purewhite);
    font-size: 1.25rem;
    font-weight: 500;
}


.right-foot{
    max-width: 30%;
}

.socials{
    display: flex;
    gap: 10px;
}

/* responsive */

@media screen and (max-width: 994px){
    body .container{
        max-width: 90%;
    }

    header{
        padding-top: 0px;
    }

    .navbar{
        padding: 16px 0;
    }

    .nav-item,.logo>h4,.nav-button{
        display: none;
    }

    .menu-icon{
        display:block;
    }

    .navbar .logo img{
        width: 46px;
    }

    .nav{
        border-bottom: 1px solid var(--color-orange);
    }

   

    .hero{
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .hero .hero-text{
        max-width: 100%;
        text-align: center;
    }

    .hero .hero-img{
        max-width: 95%;
        margin-top: 20px;
    }

    .hero .hero-text h1{
        font-size: 2rem;
        line-height: 40px;
    }

    .hero .hero-text h6{
        font-size: .9rem;
    }


    .hero .hero-text button{
        border-radius: 8px;
        padding: 6px 24px;
        width: auto;
        font-weight: 700;
        line-height: 30px;
        font-size: 1rem;
    }


    /* curriculum */
    .curriculum .wrapper{
        margin: 20px 0 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    .curriculum h2{
        font-size: 1.6rem ;
        margin: 40px 0 0 0;
    }

    .card{
        padding: 36px 28px;
        gap: 22px;
    }

    .card h5{
        font-size: 1.2rem;
    }

    .card p,.card a{
        font-size: .8rem;
        line-height: 24px;
        border-radius: 13px;
    }
    .card img{
        width: 33%;
    }

    .move-icon{
        display: none;
    }


    /* stories */

    .grid-wrapper{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        margin:20px 0;
        gap: 11px;
    }

    .date{
        display: block;
        padding: 2px 11px ;
        font-size: .6rem;
        font-weight: 500;
        color: var(--color-purewhite);
        border-radius: 28.5px;
        position: absolute;
        bottom: -15px;
        left: 10%;  
    }
    

    .grid-card>h5{
        font-size: .6rem;
        line-height: 17.125px;
    }

    .story-1{
        display: none;
    }

    .stories button{
        margin-bottom:40px;
        border-radius: 12px;
        padding: 3px 24px;
        width: 150px;
        font-weight: 700;
        line-height: 30px;
        font-size: 1rem;
    }

    /* footer */

    footer{
        padding: 10% 5%;
    }
    
    .footer-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-container>div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .foot{
        max-width: 100%;
    }

    .foot>p{
        font-size: 1rem;
    }

    .foot>h4{
        font-size: 1.125rem;
    }

    .left-foot>div>h2{
        font-size: 2rem;
    }

    .left-foot>div>img{
        width: 69px;
    }

    .mid-foot>a{
        font-size: 1rem;
    }



    
}